{{#with table_data}}
    <div class="simple-form {{extra_classes}}">
        {{#if h1_title}}
            <h1>{{h1_title}}</h1>
        {{else}}
            <h3>{{form_title}}</h3>
        {{/if}}
        <form id="{{id}}">
            {{#each columns}}
                <div class="simple-form__column">
                    {{#each inputs}}
                        {{> textInput type=type name=name palceholder=palceholder}}
                    {{/each}}
                </div>
            {{/each}}
            {{> button submit="true" submit_text=submit_text}}
            <div class="simple-form__extra-links-area">
                {{#each extra_links}}
                    {{> link href=href id=id extra_classes=extra_classes text=text}}
                {{/each}}
            </div>
            <div class="simple-form__extra-text-area">
                {{#each extra_texts}}
                    {{> textLine text=text extra-classes=extra_classes}}
                {{/each}}
            </div>
        </form>
    </div>
{{/with}}